body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 20px;
    background-color: #fffae6; 
  }
  
  .album-container {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    max-width: 1000px; 
    margin: 20px auto;
    box-shadow: 0 0 10px rgba(190, 118, 118, 0.1);
    text-align: center;
  }
  
  .album-container h1 {
    margin-bottom: 20px;
    font-size: 26px;
    color: #b76e79;
  }
  
  .fotos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
  }
  
  .fotos img {
    width: 100%;
    aspect-ratio: 1 / 1; 
    border-radius: 10px;
    object-fit: cover;
    box-shadow: 0 4px 8px rgba(227, 149, 149, 0.1);
  }
  